@charset "UTF-8";

@keyframes logo--animation {
    from {
        transform: translateY(5rem) rotate(-45deg);
    }

    50% {
        transform: rotate(-360deg) scale(1.5);
    }
}

@keyframes loading--animation {
    from {
        transform: rotate(360deg);
    }
    
    50% {
        transform: scale(1.25) rotate(360deg);
    }
}

@keyframes blink--animation {
    from {
        opacity: .5;
    }
}

@keyframes blink2--animation {
    from  {
        color: var(--color-white);
    }
}

@keyframes drop--animation {
    from {
        transform: translateY(-3rem);
    }
}

