@charset "UTF-8";

@keyframes logo--animation {
    from {
        transform: translateX(-10rem);
    }

    50% {
        transform: rotate(-360deg) scale(1.5);
    }
}

@keyframes loading--animation {
    from {
        transform: rotate(360deg);
    }

    50% {
        transform: scale(1.25) rotate(360deg);
    }
}

@keyframes blink--animation {
    from {
        opacity: .5;
    }
}

@keyframes blink2--animation {
    from {
        color: var(--color-white);
    }
}

@keyframes drop--animation {
    from {
        transform: translateY(-3rem);
    }
}

.loading {
    animation: loading--animation 1.5s infinite;
}

.blink {
    animation: blink--animation 1.5s alternate infinite;
}

.drop:nth-child(1) {
    animation: drop--animation .5s;
}

.drop:nth-child(2) {
    animation: drop--animation 1s;
}

.drop:nth-child(3) {
    animation: drop--animation 1.5s;
}

.drop:nth-child(4) {
    animation: drop--animation 2s;
}

.drop:nth-child(5) {
    animation: drop--animation 2s;
}