<!-- BODY FIN -->
<footer>
    <a href="/" class="logo">
        <div>
            <img src="/assets/icons/Quote1White.svg" alt="project" />
        </div>
    </a>
    <a href="#">Log out</a>
</footer>
</body>

</html>