<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="/assets/icons/share.png" />
  <!-- STYLE -->
  <link rel="stylesheet" href="/assets/css/all.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/style-button.css" />
  <link rel="stylesheet" href="/assets/css/style-responsive.css" />
  <link rel="stylesheet" href="/assets/css/style-animation.css" />
  <!-- JAVASCRIPT -->
  <script src="/assets/jquery/jquery.min.js"></script>
  <script src="/assets/js/all.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  <title>Project</title>
</head>

<body>
  <script>
    // NAVBAR ICONS RESEPONSIVE DEBUT
    function iconBar(x) {
      if (x.matches) {
        $(document).ready(function () {
          $("#home").replaceWith(
            "<a href=\"/\" id=\"home\" class=\"icon--nav drop\"><div><i class=\"fas fa-fire\"></i></div></a>");
          $("#page1").replaceWith(
            "<a href=\"/page1\" id=\"page1\" class=\"icon--nav drop\"><div><i class=\"fas fa-paper-plane\"></i></div></a>"
          );
          $("#page2").replaceWith(
            "<a href=\"/page2\" id=\"page2\" class=\"icon--nav drop\"><div><i class=\"fas fa-heart\"></i></div></a>");
          $("#page3").replaceWith(
            "<a href=\"/page3\" id=\"page3\" class=\"icon--nav drop\"><div><i class=\"fas fa-user-friends\"></i></div></a>"
          );
        });
      } else {
        $("#home").replaceWith("<a href=\"/\" id=\"home\"><div>My feed</div></a>");
        $("#page1").replaceWith("<a href=\"/page1\" id=\"page1\"><div>Inbox</div></a>");
        $("#page2").replaceWith("<a href=\"/page2\" id=\"page2\"><div>Favorites</div></a>");
        $("#page3").replaceWith("<a href=\"/page3\" id=\"page3\"><div>Profile</div></a>");
      }
    }
    var x = window.matchMedia("(max-width: 800px)");
    iconBar(x);
    x.addListener(iconBar);
    // NAVBAR ICONS RESEPONSIVE FIN

    // CIRCLE BUTTON DEBUT
    $(document).ready(function () {
      document.querySelector(".circle-btn__click").addEventListener("click", () => {
        document.querySelector(".circle-btn").classList.toggle("change");
      })
    });
    // CIRCLE BUTTON FIN
  </script>
  <!-- NAVBAR DEBUT -->
  <header>
    <div class="bar bar__nav" id="bar_nav">
      <a href="/" class="logo" id="logo">
        <div>
          <img src="/assets/icons/share.svg" alt="project" />
        </div>
      </a>
      <a href="/" id="home">
        <div>My feed</div>
      </a>
      <a href="/page1" id="page1">
        <div>Inbox</div>
      </a>
      <a href="/page2" id="page2">
        <div>Favorites</div>
      </a>
      <a href="/page3" id="page3">
        <div>Profile</div>
      </a>
    </div>
  </header>
  <!-- MENU DEBUT -->
  <aside>
    <div class="bar bar__side">
      <div class="user">
        <div class="user__img">
          <img src="/assets/images/profile/profile (2).png" alt="profile" />
        </div>
        <div class="user__title">
          <h2>Name</h2>
          <h3>Function</h3>
        </div>
        <hr class="user--line">
      </div>
      <a href="/">
        <div class="icon">
          <div class="icon__img"><i class="fas fa-calendar-day"></i></div>
          <div class="icon__string icon__string--start">Page 3</div>
        </div>
      </a>
      <a href="/">
        <div class="icon">
          <div class="icon__img"><i class="fas fa-users-cog"></i></div>
          <div class="icon__string icon__string--start">Page 4</div>
        </div>
      </a>
      <a href="/">
        <div class="icon">
          <div class="icon__img"><i class="fas fa-tags"></i></div>
          <div class="icon__string icon__string--start">Page 5</div>
        </div>
      </a>
      <a href="/">
        <div class="icon">
          <div class="icon__img"><i class="fas fa-tools"></i></div>
          <div class="icon__string icon__string--start">Settings</div>
        </div>
      </a>
      <div class="illustration illustration__side">
        <img src="/assets/illustration/Read-to-use Scenes/SVG/Illustration 1.svg" alt="Illustration">
      </div>
    </div>

    <!-- <div class="circle-btn">
      <div class="circle-btn__sub">
        <a href="#" class="circle-btn__sub__link"><i class="fab fa-github"></i></a>
        <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="circle-btn__sub__link"><i class="fab fa-discord"></i></a>
        <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitch"></i></a>
      </div>
      <div class="circle-btn__click">
        <div class="fas fa-paper-plane"></div>
      </div>
    </div> -->


  </aside>
  <!-- BODY DEBUT -->