<%- include("../templates/header"); %>

<div class="main">
  <h1>Hello, ...</h1>
  <div class="sub sub__column">
    <div class="sub__main3">
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h3 class="proj-prev__heading">Name</h3>
        <div class="proj-prev__byline">
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a>
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a>
        </div>
      </section>
    </div>
    <div class="sub__main4">

      <!-- <div class="circle-btn">
        <div class="circle-btn__sub">
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-github"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitter"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-discord"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitch"></i></a>
        </div>
        <div class="circle-btn__click">
          <div class="fas fa-paper-plane"></div>
        </div>
      </div> -->

    </div>
  </div>
</div>

<%- include("../templates/footer"); %>