<%- include("../templates/header"); %>

<div class="main">
  <h1>Page 1</h1>
  <div class="sub sub__column">
    <div class="sub__main3">
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img1.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img2.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img3.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img4.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/img5.jpg" alt="project" />
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline">Learn more about the project ...</div>
      </section>
    </div>
    <div class="sub__main4">Main 4</div>
  </div>
</div>

<%- include("../templates/footer"); %>
