<%- include("../templates/header"); %>

<div class="main">
  <div class="sub__h1">
    <h1>Inbox</h1>
    <hr class="line">
    <a href="/" class="logo" id="logo2">
      <div>
        <img src="/assets/icons/Quote2.svg" alt="project" />
      </div>
    </a>
    <hr class="line">
    <h1>Story</h1>
  </div>
  <div class="sub__main3">
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (13).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (12).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a></div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (11).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a></div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (10).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (9).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (8).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (7).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (6).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (5).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (4).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (3).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (2).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
    <section class="proj-prev proj-prev--color">
      <div class="proj-prev__image">
        <img src="/assets/images/profile/profile (1).png" alt="project" />
        <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
      </div>
      <h3 class="proj-prev__heading">Name</h3>
      <div class="proj-prev__byline">
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-fire"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-paper-plane"></i></div>
        </a>
        <a href="/" class="icon icon--proj">
          <div><i class="fas fa-heart"></i></div>
        </a>
      </div>
    </section>
  </div>
  <div class="sub sub__row sub__row--inbox">

    <div class="sub__main1">
      <div class="circle-btn">
        <div class="circle-btn__sub">
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-github"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitter"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-discord"></i></a>
          <a href="#" class="circle-btn__sub__link"><i class="fab fa-twitch"></i></a>
        </div>
        <div class="circle-btn__click">
          <div class="fas fa-user blink"></div>
        </div>
      </div>
      <div class="illustration illustration__sub illustration__robot">
        <img src="/assets/illustration/Robot 1.svg" alt="Illustration">
      </div>
      <div class="illustration illustration__sub illustration__back">
        <img src="/assets/illustration/Back 1.svg" alt="Illustration">
      </div>

      <div class="sub__title">
        <h2>
          Name and Firstname
        </h2>
      </div>
      <div class="sub__body">
        <div class="sub__body__message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati ullam illum
          error cumque ab dolorem similique amet explicabo. Maxime voluptatum quidem consequuntur amet velit, placeat
          quae unde similique nam! Odit.
        </div>
        <div class="sub__body__message sub__img--message">
          <div class="user__img user__img--message">
            <img src="/assets/images/profile/profile (8).png" alt="profile" />
          </div>
        </div>
        <div class="sub__body__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, tenetur
          distinctio, optio facere deleniti quas ea, totam laudantium natus provident dolore debitis ad soluta ullam
          nihil perspiciatis voluptaeat voluptatum saepe quo! Sunt iure
          magni dolor!</div>
        <div class="sub__body__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam minus
          necessitatibus eum recusandae veniam amet tempore magnam assumenda voluptas harum ducimus ea ex eius vitae
          cupiditate, cumque excepturi impedit.</div>
          <div class="sub__body__message sub__img--message">
            <div class="user__img user__img--message">
              <img src="/assets/images/profile/profile (5).png" alt="profile" />
            </div>
          </div>
        <div class="sub__body__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae
          dolores temporibus expedita dtate, non, sint illum error culpa veniam
          autem debitis ea vero cum?
          A, doloremque alias eveniet omnis eos repudiandae quia harum repellat, enim cumque, porro explicabo tenetur
          fuga. Quis quia maiores dolorum accusantium, architecto quasi, dolorem laborum unde nostrum reprehenderit
          distinctio eveniet.</div>
        <div class="sub__body__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam minus
          necessitatibus eum recusandae veniam amet tempore magnam assumenda voluptas harum ducimus ea ex eius vitae
          cupiditate, cumque excepturi impedit.</div>
        <div class="sub__body__message">Lorem ipsum dolor sitedit.</div>
        <div class="sub__body__message">2...Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae
          dolores temporibus expedita doloribus ducimus? Qui amet laborum cupiditate, non, sint illum error culpa veniam
          autem debitis ea vero cum?
          A, doloremque alias eveniet omnis eos repudiandae quia harum repellat, enim cumque, porro explicabo tenetur
          fuga. Quis quia maiores dolorum accusantium, architecto quasi, dolorem laborum unde nostrum reprehenderit
          distinctio eveniet.</div>
        <a href="#" class="center">
          <button type="button" class="button button--rounded">
            <div class="icon">
              <div class="icon__img loading"><i class="fas fa-circle-notch"></i></div>
              <div class="icon__string icon__string--start">See more</div>
            </div>
          </button>
        </a>
      </div>

      <div class="sub__input">
        <div class="sub__input__option">
          <a href="/" class="icon">
            <div><i class="fas fa-grin-alt"></i></div>
          </a>

          <a href="/" class="icon">
            <div><i class="fas fa-image"></i></div>
          </a>
          <a href="/" class="icon">
            <div><i class="fas fa-folder"></i></div>
          </a>
          <a href="/" class="icon">
            <div><i class="fas fa-ellipsis-h"></i></div>
          </a>
        </div>
        <div class="sub__input__form">
          <form action="" method="post">
            <textarea name="" id=""></textarea>
          </form>
        </div>
        <div class="sub__input__send center">
          <button type="button" class="button button--outline button--rounded button--border">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>

    </div>
    <div class="sub__main2">
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (1).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (2).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (3).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (4).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (5).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (6).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (7).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
      <section class="proj-prev proj-prev--color">
        <div class="proj-prev__image">
          <img src="/assets/images/landscape/landscape (8).jpg" alt="project" />
          <div class="proj-prev__image--zoom"><i class="fas fa-eye"></i></div>
        </div>
        <h1 class="proj-prev__heading">Title</h1>
        <div class="proj-prev__byline"><a href="/" class="icon icon--proj">
            <div><i class="fas fa-fire"></i></div>
          </a>
          <!-- <a href="/" class="icon icon--proj">
            <div><i class="fas fa-paper-plane"></i></div>
          </a> -->
          <a href="/" class="icon icon--proj">
            <div><i class="fas fa-heart"></i></div>
          </a></div>
      </section>
    </div>
  </div>
</div>

<%- include("../templates/footer"); %>