<%- include("../templates/header"); %>

<div class="main">
  <h1>Favorites</h1>
  <div class="sub__main">
    <div class="sub sub--wrap">

    </div>
  </div>
</div>

<%- include("../templates/footer"); %>