<%- include("../templates/header"); %>

<div class="main">
  <h1>Page 2</h1>
  <div class="sub__main">
    <div class="sub sub--wrap">
      <button type="button" class="button button--outline button--border">Primary</button>
      <button type="button" class="button">Primary</button>
      <button type="button" class="button button--secondary">Secondary</button>
      <button type="button" class="button button--success">Success</button>
      <button type="button" class="button button--danger">Danger</button>
      <button type="button" class="button button--edit">Edit</button>
      <button type="button" class="button button--rounded">Rounded</button>
    </div>
    <div class="sub sub--wrap">
      <button type="button" class="button button--outline">Primary Out</button>
      <button type="button" class="button button--secondary button--outline--secondary button--outline">Secondary Out</button>
      <button type="button" class="button button--success button--outline--success button--outline">Success Out</button>
      <button type="button" class="button button--danger button--outline--danger button--outline">Danger Out</button>
      <button type="button" class="button button--edit button--outline--edit button--outline">Edit Out</button>
      <button type="button" class="button button--outline button--rounded button--border">Rounded</button>
      <button type="button" class="button button--outline button--rounded">Rounded</button>
    </div>
    <div class="sub sub--wrap">
      <a href="#">
        <button type="button" class="button">
          <div class="icon">
            <div class="icon__img"><i class="fas fa-cloud-moon"></i></div>
            <div class="icon__string icon__string--start">Cloud</div>
          </div>
        </button>
      </a>
      <a href="#">
        <button type="button" class="button button--outline">
          <div class="icon">
            <div class="icon__img"><i class="fas fa-calculator"></i></div>
            <div class="icon__string icon__string--start">Add</div>
          </div>
        </button>
      </a>
      <a href="#">
        <button type="button" class="button">
          <div class="icon">
            <div class="icon__string icon__string--end">Configuration</div>
            <div class="icon__img"><i class="fas fa-cogs"></i></div>
          </div>
        </button>
      </a>
      <a href="#">
        <button type="button" class="button button--outline">
          <div class="icon">
            <div class="icon__string icon__string--end">Address</div>
            <div class="icon__img"><i class="fas fa-address-card"></i></div>
          </div>
        </button>
      </a>
      <a href="#">
        <button type="button" class="button button--outline button--rounded">
          <div class="icon">
            <div class="icon__string icon__string--end">Tools</div>
            <div class="icon__img"><i class="fas fa-tools"></i></div>
          </div>
        </button>
      </a>
      <a href="#">
        <button type="button" class="button button--rounded">
          <div class="icon">
            <div class="icon__img"><i class="fas fa-tags"></i></div>
            <div class="icon__string icon__string--start">Tags</div>
          </div>
        </button>
      </a>
    </div>
    <div class="sub sub--wrap">
      <button type="button" class="button button--outline">
        <i class="fas fa-address-card"></i>
      </button>
      <button type="button" class="button">
        <i class="fas fa-calculator"></i>
      </button>
      <button type="button" class="button button--outline button--rounded button--border">
        <i class="fas fa-cloud-moon"></i>
      </button>
      <button type="button" class="button button--outline button--border button--danger button--outline--danger">
        <i class="fas fa-cogs"></i>
      </button>
      <button type="button" class="button button--rounded button--outline">
        <i class="fas fa-users"></i>
      </button>
      <button type="button" class="button button--rounded button--edit">
        <i class="fas fa-sun"></i>
      </button>
    </div>
    <div class="grid" id="parent">
      <div class="grid__main">Grid</div>
      <div class="grid__main">Grid</div>
      <div class="grid__main">Grid</div>
      <div class="grid__main">Grid</div>
    </div>
  </div>
</div>

<%- include("../templates/footer"); %>
